<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>플로트 예제</title>
    <style>
        .container {
            width: 100%;
        }

        .box {
            float: left; /* 왼쪽으로 떠서 정렬 */
            width: 20%;
            margin: 10px;
            background-color: lightgreen;
            padding: 20px;
        }
        .box_clear {
            width: 20%;
            margin: 10px;
            background-color: lightgreen;
            padding: 20px;
            clear: both;
        }        
    </style>
</head>
<body>
    <div class="container">
        <div class="box">박스 1</div>
        <div class="box">박스 2</div>
        <div class="box_clear">박스 3</div>
    </div>
</body>
</html>
